{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://raw.githubusercontent.com/musser004/Portfolio-Custom_Image_Watermark_Application/main/lavalamp-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 mx-auto">
          <div class="site-heading">
            <h1>Text Watermark</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

<h3>NOTE:</h3>
<p>If no images, text, or settings are specified, the default settings will be used</p>
        <hr class="solid">

        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}